<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage2.master.cs" Inherits="MasterPage_MasterPage2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/App_Themes/Default/css/styleIndex.css">
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <header>
        <div class="container">
            <h1>Compras en Línea</h1>
        </div>
    </header>

    <div class="container">
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    <br />
    <br />
    <footer>
        <div class="container">
            <h2>EasyBuy Software
                <p class="copyright pull-right">
                    &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>

                </p>
            </h2>
        </div>
    </footer>
</body>
</html>
